{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="space">

<head>
    <link rel="stylesheet" href="{% static 'css/output.css' %}?{% now 'U' %}">
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://kit.fontawesome.com/f23e4a7e43.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=yes, viewport-fit=cover">
    <script src="{% static 'js/htmx.min.js.js' %}"></script>
    <title>
        {% block head_title %}
            Reusable base
        {% endblock %}
    </title>
    {% block extra_head_element %} {% endblock %}
</head>

<body>

<div class="drawer lg:drawer-open">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content">
        {# drawer content - all page content #}
        <header>
            <!-- Navbar -->
            <nav class="navbar w-full bg-base-200/50 hidden lg:flex"> {# only appears on large screens and up #}
                <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <!-- Sidebar toggle icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round"
                         stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"
                         class="my-1.5 inline-block size-4">
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                        <path d="M9 4v16"></path>
                        <path d="M14 10l2 2l-2 2"></path>
                    </svg>
                </label>
                <div class="px-4">{% block navbar_title %}Navbar Title{% endblock %}</div>
            </nav>
            {% block header %}
            {% endblock %}
        </header>

        <!-- Page content here -->
        {% block main %}
        {% endblock %}

        <footer>
            {% block footer %}

            {% endblock %}
        </footer>

        {# end of drawer content #}
    </div>

    <div class="drawer-side is-drawer-close:overflow-visible hidden lg:block">
        {# only appears on large screens and up #}
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
            <!-- Sidebar content here -->
            <ul class="menu w-full grow">
                <!-- List item -->
                <li>
                    <a href="{% url 'portfolio:homepage' %}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Homepage">
                        <!-- Home icon -->
                        <i class="fa-solid fa-house-chimney"></i>
                        <span class="is-drawer-close:hidden">Homepage</span>
                    </a>
                </li>
                
                <!-- List item -->
                <li>
                    <a href="{% url 'portfolio:about-me' %}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="About-me">
                        <!-- Home icon -->
                        <i class="fa-solid fa-address-card"></i>
                        <span class="is-drawer-close:hidden">About Me</span>
                    </a>
                </li>
                <!-- List item -->
                <li>
                    <a href="{% url 'portfolio:resume' %}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Resume">
                        <!-- Home icon -->
                        <i class="fa-solid fa-graduation-cap"></i>
                        <span class="is-drawer-close:hidden">Resume</span>
                    </a>
                </li>
                <!-- List item -->
                <li>
                    <a href="{% url 'portfolio:projects' %}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Projects">
                        <!-- Home icon -->
                        <i class="fa-solid fa-laptop-code"></i>
                        <span class="is-drawer-close:hidden">Projects</span>
                    </a>
                </li>
                <!-- List item -->
                <li>
                    <a href="{% url 'portfolio:blog' %}" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Blog">
                        <!-- Home icon -->
                        <i class="fa-regular fa-pen-to-square"></i>
                        <span class="is-drawer-close:hidden">Blog</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="pb-18 lg:pb-0">
    {% block dock %}
        {% include 'components/dock.html' %}
    {% endblock %}
</section>

</body>

</html>

