<nav class="lg:hidden">
    <div class="dock dock-lg">
        <a href="{% url 'portfolio:resume' %}" class="" id="">
            <i class="fa-solid fa-graduation-cap"></i>
            <span class="dock-label">Resume</span>
        </a>

        <a href="{% url 'portfolio:projects' %}" class="" id="">
            <i class="fa-solid fa-laptop-code"></i>
            <span class="dock-label">Projects</span>
        </a>

        <a href="{% url 'portfolio:homepage' %}" class="dock-active" id="">
            <i class="fa-solid fa-house-chimney"></i>
            <span class="dock-label">Homepage</span>
        </a>

        <a href="{% url 'portfolio:about-me' %}" class="" id="">
            <i class="fa-solid fa-address-card"></i>
            <span class="dock-label">About me</span>
        </a>

        <a href="{% url 'portfolio:blog' %}" class="" id="">
            <i class="fa-regular fa-pen-to-square"></i>
            <span class="dock-label">Blog</span>
        </a>
    </div>
</nav>
