<div tabindex="0" class="collapse collapse-open bg-base-100 border-base-300 border my-4">
    <div class="collapse-title font-semibold text-center text-2xl">Contact Information:</div>
    <div class="collapse-content">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <!-- Email -->
            <a href="null"
               class="flex items-center gap-4 p-4 rounded-lg bg-base-100 border border-base-300 hover:border-primary hover:bg-base-200 transition">
                <i class="fa-solid fa-paper-plane fa-2xl ml-2"></i>
                <div class="">

                    <p class="font-medium">Business Email</p>
                    <p class="text-sm lg:text-2xl text-base-content/70">kutologojm@jezrastudio.online</p>
                </div>
            </a>

            

            <!-- Feedback Form -->
            <a href="null"
               class="flex items-center gap-4 p-4 rounded-lg bg-base-100 border border-base-300 hover:border-primary hover:bg-base-200 transition">
                <i class="fa-brands fa-google fa-2xl ml-2"></i>
                <div>

                    <p class="font-medium">Feedback Form:</p>
                    <p class="text-sm lg:text-2xl text-base-content/70">Google Docs</p>
                </div>
            </a>

            <!-- Github -->
            <a href="null"
               class="flex items-center gap-4 p-4 rounded-lg bg-base-100 border border-base-300 hover:border-primary hover:bg-base-200 transition">
                <i class="fa-brands fa-github fa-2xl ml-2"></i>
                <div>

                    <p class="font-medium">Github Profile:</p>
                    <p class="text-sm lg:text-2xl text-base-content/70">KutologoJM</p>
                </div>
            </a>

            <!-- LinkedIn -->
            <a href="null"
               class="flex items-center gap-4 p-4 rounded-lg bg-base-100 border border-base-300 hover:border-primary hover:bg-base-200 transition">
                <i class="fa-brands fa-linkedin fa-2xl ml-2"></i>
                <div>

                    <p class="font-medium">LinkedIn:</p>
                    <p class="text-sm lg:text-2xl text-base-content/70">kutologomashego</p>
                </div>
            </a>

            <!-- Upwork -->
            <a href="null"
               class="flex items-center gap-4 p-4 rounded-lg bg-base-100 border border-base-300 hover:border-primary hover:bg-base-200 transition">
                <i class="fa-brands fa-square-upwork fa-2xl ml-2"></i>
                <div>

                    <p class="font-medium">Upwork Account:</p>
                    <p class="text-sm lg:text-2xl text-base-content/70">Kutologo JM</p>
                </div>
            </a>

        </div>
    </div>
</div>

