{% load static %}


<div tabindex="0" class="collapse collapse-open bg-base-100 border-base-300 border">
  <div class="collapse-title font-semibold"></div>
  <div class="collapse-content">
    <div class="hero bg-base-100 border-base-100 text-center rounded-2xl my-4">
        <div class="hero-content flex-col lg:flex-row">

            <img
                    src="{% static 'images/Me-2025.jpg' %}"
                    class="max-w-xs rounded-full shadow-2xl border-4 border-primary"
                    alt="Kutologo Jezra Mashego"
            />
            <div>
                <h1 class="text-5xl font-bold">Kutologo Jezra Mashego</h1>
                <h3 class="py-6 text-3xl font-semibold">
                    Junior Backend Developer - (Django & Python)
                </h3>
                <p class="text-center">
                    <i class="fa-solid fa-location-dot"></i>
                    Pretoria Metropolitan Area, South Africa
                </p>
                <div class="flex gap-2 mt-5 justify-center">
                    <a href="https://github.com/KutologoJM"><i class="fa-brands fa-github fa-2xl"></i></a>

                    <a href="https://linkedin.com/in/kutologomashego"><i
                            class="fa-brands fa-linkedin fa-2xl"></i></a>

                    <a href="mailto:kutologojm@jezrastudio.online"><i class="fa-regular fa-envelope fa-2xl"></i></a>

                    <a href="https://www.upwork.com/freelancers/~017e328370006c02df?mp_source=share"><i
                            class="fa-brands fa-square-upwork fa-2xl"></i></a>
                </div>

            </div>
        </div>

    </div {# end of hero #}>
  </div>
</div>

