<div tabindex="0" class="collapse collapse-open bg-base-100 border-base-300 border my-4">
    <div class="collapse-title font-semibold text-center text-2xl">Pinned Projects:</div>
    <div class="collapse-content">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <section class="m-4">
                <div class="card card-border bg-base-200 border-base-300">
                    <div class="card-body">
                        <h2 class="card-title">Utilities Not Included</h2>
                        <p>A card component has a figure, a body part, and inside body there are title and actions
                            parts</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary hover:btn-secondary">View Documentation</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="m-4">
                <div class="card card-border bg-base-200 border-base-300">
                    <div class="card-body">
                        <h2 class="card-title">jezrastudio</h2>
                        <p>A card component has a figure, a body part, and inside body there are title and actions
                            parts</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary hover:btn-secondary">View Documentation</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="m-4">
                <div class="card card-border bg-base-200 border-base-300">
                    <div class="card-body">
                        <h2 class="card-title font-bold ">Tempest</h2>
                        <p>A card component has a figure, a body part, and inside body there are title and actions
                            parts</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary hover:btn-secondary">View Documentation</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

